.sapian-capital {
  margin: 0;
  padding: 0;
  color: white !important;
  background-color: #fff !important;
  background-image: url(https://res.cloudinary.com/sapiangroup/image/upload/f_auto/v1648560634/CRYPTOMONIAL/bg_1_4x_nuyw1w.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  // padding-bottom: 15rem;
  
  @include small {
    background-size: cover;
  }

  .capital-accent {
    color: #0b92e7;
  }

  .capital-intro {
    width: 100%;
    height: 70vh;
    position: relative;
    text-align: center;
    // background: url(https://res.cloudinary.com/sapiangroup/image/upload/v1648561519/CRYPTOMONIAL/bg_4x_nccsuy.png) no-repeat;
    background-size: cover;
    background-position: center;
    color: white !important;
    display: flex;
    position: relative;
    justify-content: center;
    .scroll{
      position: absolute;
      width: 32px;
      height: 32px;
      // background-color: white;
      bottom: 5rem;
      @include small{
        bottom: -2rem;
      }
      animation: float 2s ease-in-out infinite;
      cursor: pointer;
      z-index: 9999;
      @keyframes float {
        0%{
          transform: translateY(0);
        }
        50%{
          transform: translateY(15px);
        }
        100%{
          transform: translateY(0);
        }
      }
    }

    @include small {
      height: 50vh;
    }

    .capital-intro-content {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 999;
      display: flex;
      justify-content: center;
      .capital-logo {
        margin: auto;
        img {
          width: 340px;
          @include small {
            width: 240px;
          }
        }
      }

      .capital-slogan {
        text-transform: uppercase;
        transform: translateY(-90px);
        @include small {
          transform: translateY(-70px);
          font-size: 15px;
        }
      }
    }

    video {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      @include small {
        height: 50vh;
      }
    }
  }

  .capital-what-is-it {
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 8rem 0;
    h4 {
      @include small {
        font-size: 15px;
      }
    }

    a {
      text-decoration: none;
      color: #0b92e7;
      transition: 0.3s;
      &:hover {
        color: #0568a5;
      }
    }

    .download {
      display: inline-block;
      padding: 0.5rem 1rem;
      color: white;
      background-color: #0f38c7;
      border-radius: 4px;
      transition: 0.3s;
      &:hover {
        background-color: #0568a5;
        color: white;
        box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.3);
      }
    }

    .capital-what-tiles {
      margin: 4rem 0;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      .capital-what {
        width: 150px;
        height: 150px;
        // background-color: #111;
        margin: 0 1rem;
        transition: 0.5s;
        img {
          width: 100%;
        }
        @include small {
          width: 80px;
          height: 80px;
        }
      }
    }

    .capital-perks {
      max-height: 80px;
      min-height: 80px;
      @include small {
        max-height: 120px;
        min-height: 120px;
      }
      .capital-perk {
        opacity: 0.5;
        color: white !important;
        font-size: 0.8rem;
        transition: 0.5s;
        @include small {
          font-size: 12px;
        }
      }
    }

    p {
      font-size: 1.1rem;
    }
  }

  .capital-four-parts {
    h2 {
      color: white;
    }

    a {
      display: inline-block;
      padding: 0.5rem 2rem;
      color: #0b92e7;
      background-color: white;
      text-decoration: none;
      border-radius: 4px;
      transition: 0.3s;
      &:hover {
        color: #fff;
        background-color: #0568a5;
      }
    }
    .four-parts-container {
      background: url(https://res.cloudinary.com/sapiangroup/image/upload/v1648550502/CRYPTOMONIAL/bg_4x_kj7bxf.png)
        no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      padding: 2rem;
      border-radius: 1rem;
      @include small {
        border-radius: 0;
      }
    }

    .capital-part-nav {
      .cap-nav {
        width: fit-content;
        padding: 0.5rem 2rem;
        border-radius: 4px;
        color: #fff;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        transition: 0.3s ease-in-out;
        span {
          font-size: 1rem;
          font-weight: 400;
          display: inline-block;
          margin: auto;
        }
      }

      .fill {
        background-color: #fff !important;
        border: 2px #0b92e7 solid;
        color: #0b92e7 !important;
      }
    }

    .four-parts {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 270px;
      .part {
        h2 {
          font-size: 1.5rem;
          font-weight: 500;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: #fff;
        border-radius: 1rem;
        color: #fff;
        // padding: 1.5rem;
        transition: 1s;
        transform: scale(0);
        opacity: 0;
        &:nth-child(1) {
          z-index: 999;
        }
        &:nth-child(2) {
          z-index: 998;
        }
        &:nth-child(3) {
          z-index: 9997;
        }
        &:nth-child(4) {
          z-index: 9996;
        }
      }

      .fold {
        opacity: 0 !important;
        transform: scale(0) !important;
      }
      .expand {
        opacity: 1 !important;
        transform: scale(1) !important;
      }
    }
  }

  .capital-how-does-it-work {
    margin-top: 12rem;
    width: 100%;
    h2 {
      margin-bottom: 5rem;
    }
    @include small {
      h2 {
        margin-bottom: 2rem;
      }
      margin-top: 5rem;
    }

    .capital-map {
      text-align: center;
      img {
        image-rendering: -moz-crisp-edges; /* Firefox */
        image-rendering: -o-crisp-edges; /* Opera */
        image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
        width: 60%;
        @include small {
          width: 90%;
        }
      }
    }
  }

  .capital-escrow {
    margin-top: 5rem;
    h2 {
      text-align: center;
    }

    .escrow-point {
      text-align: center;
      margin-top: 2rem;
      @include small {
        margin: 1rem;
      }
      font-size: 1.2rem;
      border-radius: 12px;
      box-shadow: 0 5px 15px rgba($color: #0f38c7, $alpha: 0.2);
      height: 100%;
      font-weight: 300;
      padding: 1rem;
      color: white;
      background: url(https://res.cloudinary.com/sapiangroup/image/upload/v1648550502/CRYPTOMONIAL/bg_4x_kj7bxf.png)
        no-repeat;
      background-size: cover !important;
      background-position: center !important;
      background-attachment: fixed !important;
      background-color: #0f38c7;
    }
    p {
      font-size: 1rem !important;
      font-weight: 400;
      color: #fff;
      text-align: justify;
      text-align-last: center;
    }

    .escrow-step {
      padding: 0.5rem;
      background-color: #0f38c7;
      color: white;
      border-radius: 4px;
      background: url(https://res.cloudinary.com/sapiangroup/image/upload/v1648550502/CRYPTOMONIAL/bg_4x_kj7bxf.png)
        no-repeat;
      background-size: 90% !important;
      background-position: center !important;
      background-attachment: fixed !important;
      cursor: pointer;
    }
  }

  .capital-eligibility {
    margin-top: 5rem;
    width: 100%;
    // height: 40vh;
    // background: url(https://www.sapiancapital.com/assets/images/new/Infographic-03.svg) no-repeat;
    background-size: cover;
    background-position: center;
    @include small {
      text-align: center;
    }
    // background-color: black;

    h2 {
      text-align: center;
    }
    img {
      width: 100%;
    }
    p {
      font-size: 1.1rem;
      font-weight: 300;
    }
  }

  .capital-coins {
    margin-top: 5rem;
    text-align: center;

    .coins {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;

      .coin {
        // background-color: red;
        margin: 0 0.5rem;
        img {
          width: 50px;
          height: 50px;
          transition: 0.3s;
          &:hover {
            transform: scale(1.2);
          }
          @include small {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}
