@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Heebo", sans-serif;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.navbar {
  background-color: black !important;
  * {
    color: white !important;
  }
}

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
//   background-color: black;

  .intro-video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .fade-up {
    //   transition: 2s;
    animation: fade-up 2s forwards;
    @keyframes fade-up {
      from {
        opacity: 0;
        transform: translateY(20px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .fade-intro {
    transition: 3s;
    opacity: 0;
  }

  .init {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    .logo {
      text-align: center;
      margin: auto;
      animation: fade-logo 40s forwards;
      @keyframes fade-logo {
          from{
              opacity: 0;
          }
          to{
              opacity: 1;
          }
      }
      img {
        width: 340px;
      }

      .slogan {
        opacity: 0;
        color: white;
        margin-top: 1rem;
      }
    }
  }
}

.definition {
  padding: 3rem 0;
  //   background: url(https://res.cloudinary.com/sapiangroup/image/upload/v1646570883/CRYPTOMONIAL/bg-2_rlguse.png)
  //     no-repeat;
  //   background-size: cover;
  //   color: white;
  .ce-desc {
    margin-top: 1rem;
  }

  .read-more {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    color: white;
    border-radius: 5px;
    background-color: rgb(103, 34, 233);
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      background-color: rgb(24, 5, 78);
      padding: 0.25rem 1rem;
      border-radius: 50px;
    }
  }

  .ce-desc-image {
    width: 100%;
    height: 100%;
    img {
      width: 75%;
    }
  }
}

.solutions {
  text-align: center;
  margin-top: 7rem;
  .solution {
    padding: 5rem;
    background-color: rgb(109, 109, 109);
  }

  .sc {
    background: url(https://www.sapiancapital.com/assets/images/logo/Sapian_group_logo.svg)
      no-repeat;
    background-size: 50%;
    background-position: center;
  }
  .oztg {
    background: url(https://res.cloudinary.com/sapiangroup/image/upload/v1601820525/OZEETY_IMAGES/assets/img/oztcard_flashgroup-cryptostations.png)
      no-repeat;
    background-size: 70%;
    background-position: center;
  }
}

.sections {
  margin-top: 5rem;
  .section {
    height: 70vh;
    margin: 1rem 0;
    background-color: rgb(128, 128, 128);
  }

  .sapian-capital {
    .sc-logo {
      img {
        width: 30%;
      }
    }
  }
}
