@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Heebo", sans-serif;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.navbar {
  background-color: black !important;
}

.navbar * {
  color: white !important;
}

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.intro .intro-video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

@media screen and (max-width: 576px) {
  .intro .intro-video {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.intro .bg-filter {
  width: 100%;
  height: 100vh;
  background-color: #00020f;
  opacity: 0.85;
}

.intro .sapina-capital-video {
  opacity: 0;
}

.intro .cryptostation-intro-image {
  opacity: 0;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.intro .oztcard-video {
  opacity: 0;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

@media screen and (max-width: 576px) {
  .intro .oztcard-video {
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
}

.intro .vl {
  width: 1px;
  height: 30px;
  background-color: white;
  opacity: 0.5;
  border-radius: 50px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.intro .nav-balls {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.intro .nav-balls .nav-ball {
  padding: 1rem;
  text-decoration: none;
  color: white;
  margin: 0 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 576px) {
  .intro .nav-balls .nav-ball {
    font-size: 10px;
  }
}

.intro .nav-balls .nav-ball:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.intro .lift-up {
  bottom: 8rem !important;
  opacity: 1 !important;
  -webkit-transition: 3s !important;
  transition: 3s !important;
}

.intro .fade-up {
  -webkit-animation: fade-up 2s forwards;
          animation: fade-up 2s forwards;
}

@-webkit-keyframes fade-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.intro .fade-intro {
  -webkit-transition: 3s;
  transition: 3s;
  opacity: 0;
}

.intro .init {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro .init .logo {
  text-align: center;
  margin: auto;
  -webkit-transition: 1s;
  transition: 1s;
}

@-webkit-keyframes fade-logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.intro .init .logo img {
  width: 340px;
}

@media screen and (max-width: 576px) {
  .intro .init .logo img {
    width: 220px;
  }
}

.intro .init .logo .slogan {
  opacity: 0;
  color: white;
  margin-top: 1rem;
}

@media screen and (max-width: 576px) {
  .intro .init .logo .slogan {
    font-size: 15px;
  }
}

.definition {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0;
  width: 100%;
  height: 60vh;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .definition {
    font-size: 12px;
    padding: 1rem;
  }
}

.definition .ce-desc {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.definition .what-is {
  margin: auto;
}

.definition video {
  position: absolute;
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.definition .read-more {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  color: white;
  border-radius: 5px;
  background-color: #6722e9;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.definition .read-more:hover {
  background-color: #18054e;
  padding: 0.25rem 1rem;
  border-radius: 50px;
}

.solutions {
  text-align: center;
  margin-top: 7rem;
}

.solutions .solution {
  padding: 5rem;
  background-color: #6d6d6d;
}

.solutions .cs {
  background: url(https://res.cloudinary.com/sapiangroup/image/upload/v1646732973/CRYPTOMONIAL/cryptostation-logo_gjot1p.svg) no-repeat;
  background-size: 45%;
  background-position: center;
}

.solutions .sc {
  background: url(https://www.sapiancapital.com/assets/images/logo/Sapian_group_logo.svg) no-repeat;
  background-size: 50%;
  background-position: center;
}

.solutions .oztg {
  background: url(https://res.cloudinary.com/sapiangroup/image/upload/v1601820525/OZEETY_IMAGES/assets/img/oztcard_flashgroup-cryptostations.png) no-repeat;
  background-size: 70%;
  background-position: center;
}

.sections {
  margin-top: 5rem;
}

.sections .section {
  height: 70vh;
  margin: 1rem 0;
}

.sections .sapian-capital .sc-logo img {
  width: 30%;
}

@media screen and (max-width: 576px) {
  .sections .cryptostations {
    text-align: center;
  }
}

.sections .cryptostations .the-cryptostation {
  color: #965ffc;
}

.sections .cryptostations .by-flash {
  width: 115px;
  margin: 0 0.2rem;
  -webkit-transform: translateY(-3.5px);
          transform: translateY(-3.5px);
}

@media screen and (max-width: 576px) {
  .sections .cryptostations .by-flash {
    margin: 1rem 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.sections .cryptostations .cs-slogans {
  position: relative;
  text-align: center;
}

.sections .cryptostations .cs-slogans .cs-slogan {
  top: 0;
  left: 25%;
  right: 25%;
  position: absolute;
  opacity: 0;
}

.sections .cryptostations .cs-slogans .cs-slogan:nth-child(1) {
  -webkit-animation: 10s opac 10s infinite;
          animation: 10s opac 10s infinite;
}

.sections .cryptostations .cs-slogans .cs-slogan:nth-child(2) {
  -webkit-animation: 10s opac 20s infinite;
          animation: 10s opac 20s infinite;
}

.sections .cryptostations .cs-slogans .cs-slogan:nth-child(3) {
  -webkit-animation: 10s opac 30s infinite;
          animation: 10s opac 30s infinite;
}

@-webkit-keyframes opac {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opac {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sections .cryptostations .easy-access {
  text-align: justify !important;
  margin-top: 5rem;
}

.sections .cryptostations .easy-access .strong {
  font-size: 24px;
  color: #965ffc;
}

.sections .cryptostations .cryptostation-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.sections .cryptostations .cryptostation-images img {
  width: 50%;
  margin: 0 1rem;
  opacity: 1 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sections .cryptostations .cryptostation-images img:hover {
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
}

.sections .cryptostations .cryptostation-images img:nth-child(2) {
  opacity: 1 !important;
  width: 50% !important;
}

@media screen and (max-width: 576px) {
  .sections .cryptostations .cryptostation-images img {
    width: 50%;
    margin: 0 1rem;
  }
  .sections .cryptostations .cryptostation-images img:nth-child(2) {
    width: 30%;
  }
}

.sections .cryptostations .oztcard {
  text-align: justify;
  margin-top: 8rem;
}

.sections .cryptostations .oztcard .strong {
  font-size: 24px;
  color: #f1b100;
}

.sections .cryptostations .oztcard a {
  display: inline-block;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  background-color: #f1b100;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sections .cryptostations .oztcard a:hover {
  background-color: #c79200;
  color: white;
  padding: 0.25rem 1rem;
}

.sections .cryptostations .oztcard .oztcard-images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 25vh;
}

.sections .cryptostations .oztcard .oztcard-images .oztcard-image {
  position: absolute;
}

.sections .cryptostations .oztcard .oztcard-images .oztcard-image img {
  width: 340px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 576px) {
  .sections .cryptostations .oztcard .oztcard-images .oztcard-image img {
    width: 220px;
  }
}

.sections .cryptostations .oztcard .oztcard-images .oztcard-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sections .cryptostations .oztcard .oztcard-images .oztcard-image:nth-child(1) {
  z-index: 999;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sections .cryptostations .oztcard .oztcard-images .oztcard-image:nth-child(2) {
  z-index: 998;
  -webkit-transform: translateX(-80px) translateY(50px);
          transform: translateX(-80px) translateY(50px);
}

@media screen and (max-width: 576px) {
  .sections .cryptostations .oztcard .oztcard-images .oztcard-image:nth-child(2) {
    -webkit-transform: translateX(-50px) translateY(20px);
            transform: translateX(-50px) translateY(20px);
  }
}

.sections .cryptostations .oztcard .oztcard-images .oztcard-image:nth-child(3) {
  z-index: 997;
  -webkit-transform: translateX(80px) translateY(-50px);
          transform: translateX(80px) translateY(-50px);
}

@media screen and (max-width: 576px) {
  .sections .cryptostations .oztcard .oztcard-images .oztcard-image:nth-child(3) {
    -webkit-transform: translateX(50px) translateY(-20px);
            transform: translateX(50px) translateY(-20px);
  }
}
/*# sourceMappingURL=App.css.map */