@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500&display=swap");
@import "mixin";
@import "capital";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Heebo", sans-serif;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

p {
  text-transform: capitalize;
  @include small{
      font-size: 12px;
  }
}

.navbar {
  background-color: black !important;
  * {
    color: white !important;
  }
}

.anchor-parent {
  @include small {
    text-align: center;
  }
}

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  //   background-color: black;
  overflow-x: hidden;

  .skip {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    z-index: 999;
    button {
      background: none;
      background-color: rgba($color: #fff, $alpha: 0.5);
      border: none;
      color: black;
      cursor: pointer;
      border-radius: 50px;
      padding: 0.25rem 1rem;
      transition: 0.3s;
      &:hover {
        background-color: white;
      }
    }
  }

  .intro-video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: 0.8s;
    transform: translateX(5px);
    @include small {
      object-fit: cover;
    }
  }

  .bg-filter {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 2, 15);
    opacity: 0.85;
  }

  .sapina-capital-video {
    opacity: 0;
  }

  .cryptostation-intro-image {
    opacity: 0;
    object-fit: cover !important;
  }

  .oztcard-video {
    opacity: 0;
    video {
      object-fit: cover !important;
      @include small {
        object-fit: contain !important;
      }
    }
  }

  .vl {
    width: 1px;
    height: 30px;
    background-color: white;
    opacity: 0.5;
    border-radius: 50px;
    transform: translateY(10px);
  }

  .nav-balls {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    transition: 1s;
    opacity: 0;

    .nav-ball {
      padding: 1rem;
      text-decoration: none;
      color: white;
      //   background-color: white;
      //   border-radius: 50rem;
      margin: 0 1rem;
      cursor: pointer;
      transition: 0.3s;
      @include small {
        font-size: 10px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .lift-up {
    bottom: 8rem !important;
    opacity: 1 !important;
    transition: 3s !important;
  }

  .fade-up {
    //   transition: 2s;
    animation: fade-up 2s forwards;
    @keyframes fade-up {
      from {
        opacity: 0;
        transform: translateY(20px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .fade-intro {
    transition: 3s;
    opacity: 0;
  }

  .init {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;

    .logo-sc,
    .logo-fc {
      opacity: 0;
    }

    .logo {
      position: absolute;
      text-align: center;
      width: 100%;
      margin: auto;
      transition: 1s;
      @keyframes fade-logo {
        from {
          opacity: 0;
          transform: scale(0);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
      img {
        width: 340px;
        @include small {
          width: 220px;
        }
      }

      .slogan {
        opacity: 0;
        color: white;
        margin-top: 1rem;
        @include small {
          font-size: 15px;
        }
      }
    }
  }
}

.definition {
  position: relative;
  display: flex;
  padding: 3rem 0;
  width: 100%;
  height: 60vh;
  text-align: center;

  @include small {
    font-size: 12px;
    padding: 1rem;
  }
  .ce-desc {
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  .what-is {
    margin: auto;
  }

  video {
    position: absolute;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0.2;
  }

  .read-more {
    display: inline-block;
    padding: 0.25rem 1rem;
    color: white;
    border-radius: 5px;
    background-color: rgb(103, 34, 233);
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      background-color: rgb(24, 5, 78);
      padding: 0.25rem 1rem;
      border-radius: 50px;
    }
  }
}

.solutions {
  text-align: center;
  margin-top: 7rem;
  .solution {
    padding: 5rem;
    background-color: rgb(109, 109, 109);
  }

  .cs {
    background: url(https://res.cloudinary.com/sapiangroup/image/upload/v1646732973/CRYPTOMONIAL/cryptostation-logo_gjot1p.svg)
      no-repeat;
    background-size: 45%;
    background-position: center;
  }
  .sc {
    background: url(https://www.sapiancapital.com/assets/images/logo/Sapian_group_logo.svg)
      no-repeat;
    background-size: 50%;
    background-position: center;
  }
  .oztg {
    background: url(https://res.cloudinary.com/sapiangroup/image/upload/v1601820525/OZEETY_IMAGES/assets/img/oztcard_flashgroup-cryptostations.png)
      no-repeat;
    background-size: 70%;
    background-position: center;
  }
}

.sections-parent {
  background: linear-gradient(
    0deg,
    rgba(21, 1, 41, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );

  .for-merchents {
    margin: 5rem 0;

    position: relative;
    width: 100%;
    // height: 200px;

    .mp-parent{
        display: flex;
        text-align: justify !important;
        @include small{
            display: block;
            text-align: center !important;
        }
        h4{
            text-align: center !important;
            font-size: 18px;
        }
    }

    h4 {
        color:#53fffc;
    }

    span{
        display: inline-block;
        margin: 1rem 0;
        width: 100%;
        text-align: center;
        img{
            width: 80px;
        }

        // .location-img{
        //     width: 120px;
        // }
        // .loyalty-img{
        //     transform: translateY(30px) translateX(-50px);
        //     width: 140px;
        //     @include small{
        //         transform: translateY(30px);
        //     }
        // }
        // .maintain-img{
        //     width: 60px;
        // }

        // .coins-img{
        //     width: 100px;
        // }
    }

    .store-img{
        margin-top: 5rem;
        img{
            width: 80%;
        }
    }

    .tr{
        // text-align: right;
        @include small{
            text-align: center !important;
        }
    }

    p{
        width: 500px;
        margin: 0 !important;
    }

    .merchant-heading{
        margin: 5rem 0;
    }

    .merchant-perk {
      margin: .5rem 1rem;
      width: 100%;
      font-size: 12px;
      @include small{
          margin: 0;
      }
      //   height: 80px;
      //   background-color: #965ffc;
    }
  }
}

.sections {
  margin-top: 5rem;

  h4{
      color:#53fffc;
  }

  .section {
    margin: 1rem 0;
    // background-color: rgb(128, 128, 128);
  }

  .for-users {
    width: 100%;
    // color: #965ffc;
    margin-top: 5rem;
  }

  .sapian-capital {
    .sc-logo {
      img {
        width: 30%;
      }
    }
  }

  .cryptostations {
    padding-top: 2rem;
    overflow: hidden;
    @include small {
      text-align: center;
    }

    .the-cryptostation {
      color: #965ffc;
    }

    .by-flash {
      width: 115px;
      margin: 0 0.2rem;
      transform: translateY(-3.5px);

      @include small {
        margin: 1rem 0;
        transform: translate(0);
      }
    }

    .cs-slogans {
      position: relative;
      text-align: center;

      .cs-slogan {
        top: 0;
        left: 25%;
        right: 25%;
        position: absolute;
        opacity: 0;
        transition: 1s;
        @include small {
          font-size: 14px;
        }
      }
    }

    .easy-access {
      text-align: justify !important;
      margin-top: 5rem;
      .strong {
        font-size: 24px;
        color: #965ffc;
      }
    }

    .cryptostation-images {
      display: flex;
      text-align: center;

      img {
        width: 50%;
        margin: 0 1rem;
        opacity: 1 !important;
        transition: 0.3s;
        &:hover {
          transform: scale(1.1) !important;
        }
        &:nth-child(2) {
          opacity: 1 !important;
          width: 50% !important;
        }
      }
      @include small {
        img {
          width: 50%;
          margin: 0 1rem;
          &:nth-child(2) {
            width: 30%;
          }
        }
      }
    }

    .oztcard {
      text-align: justify;
      margin-top: 8rem;
      .strong {
        font-size: 24px;
        color: #f1b100;
      }

      h4 {
        text-align: right;
        @include small {
          text-align: center;
        }
      }

      a {
        display: inline-block;
        text-decoration: none;
        padding: 0.25rem 1rem;
        border-radius: 50px;
        background-color: #f1b100;
        color: black;
        transition: 0.3s;
        &:hover {
          background-color: #c79200;
          color: white;
          padding: 0.25rem 1.5rem;
        }
      }

      .oztcard-images {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 25vh;
        .oztcard-image {
          position: absolute;
          img {
            width: 340px;
            @include small {
              width: 220px;
            }
            transition: 0.3s;
            &:hover {
              transform: scale(1.1);
            }
          }

          &:nth-child(1) {
            z-index: 999;
            transform: scale(1.1);
          }
          &:nth-child(2) {
            z-index: 998;
            transform: translateX(-80px) translateY(50px);
            @include small {
              transform: translateX(-50px) translateY(20px);
            }
          }
          &:nth-child(3) {
            z-index: 997;
            transform: translateX(80px) translateY(-50px);
            @include small {
              transform: translateX(50px) translateY(-20px);
            }
          }
        }
      }
    }

    .remittance {
      margin-top: 5rem;
      text-align: justify;
      .strong {
        font-size: 24px;
        color: #965ffc;
      }

      h4 {
        @include small {
          text-align: center;
        }
      }

      img {
        width: 100%;
        @include small {
          margin: 1rem;
          width: 220px;
        }
      }

      .oztg-coin {
        width: 24px;
      }

      .asset-pegged-coin {
        color: #f1b100;
        margin-top: 0.8rem;
        @include small {
          margin-top: 0.1rem;
          margin-bottom: 1rem;
        }
      }

      .particles-parent {
        position: relative;
        //   width: 100%;
        //   height: 100%;
        .particles {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .particle {
            position: absolute;
            width: 10px !important;
            height: 10px !important;
            background-color: #f1b100;
          }
        }
      }

      a {
        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 0.25rem 1rem;
        border-radius: 50rem;
        background-color: #f1b100;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          color: white;
          background-color: #c79200;
          padding: 0.25rem 1.5rem;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 40vh;
  background-color: rgb(39, 39, 39);
}
