@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500&display=swap");
@import "mixin";
@import "capital";

::-webkit-scrollbar {
  width: 0.25rem;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #965ffc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Heebo", sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

p {
  text-transform: capitalize;
  font-size: 1.2rem !important;
  font-weight: 300;
  @include small {
    font-size: 14px !important;
  }
}

.navbar {
  background-color: black !important;
  * {
    color: white !important;
  }
}

.anchor-parent {
  @include small {
    text-align: center;
  }
}

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  //   background-color: black;
  overflow-x: hidden;

  .skip {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    z-index: 999;
    button {
      background: none;
      background-color: rgba($color: #fff, $alpha: 0.5);
      border: none;
      color: black;
      cursor: pointer;
      border-radius: 50px;
      padding: 0.25rem 1rem;
      transition: 0.3s;
      &:hover {
        background-color: white;
      }
    }
  }

  .intro-video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: 0.8s;
    // transform: translateX(5px);
    @include small {
      object-fit: cover;
    }
  }

  .tunnel {
    filter: brightness(0.8) blur(15px);
  }

  .bg-filter {
    width: 100%;
    height: 100vh;
    background-color: #1e065f;
    opacity: 0.5;
  }

  .sapina-capital-video {
    opacity: 0;
  }

  .cryptostation-intro-image {
    opacity: 0;
    object-fit: cover !important;
    object-position: -210px;
  }

  .oztcard-video {
    opacity: 0;
    video {
      object-fit: cover !important;
      @include small {
        object-fit: contain !important;
      }
    }
  }

  .vl {
    width: 1px;
    height: 30px;
    background-color: white;
    opacity: 0.5;
    border-radius: 50px;
    transform: translateY(10px);
  }

  .nav-balls {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    transition: 1s;
    opacity: 0;

    .nav-ball {
      padding: 1rem;
      text-decoration: none;
      color: white;
      //   background-color: white;
      //   border-radius: 50rem;
      margin: 0 1rem;
      cursor: pointer;
      transition: 0.3s;
      @include small {
        font-size: 10px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .lift-up {
    bottom: 8rem !important;
    opacity: 1 !important;
    transition: 3s !important;
  }

  .fade-up {
    //   transition: 2s;
    animation: fade-up 2s forwards;
    @keyframes fade-up {
      from {
        opacity: 0;
        transform: translateY(20px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .fade-intro {
    transition: 3s;
    opacity: 0;
  }

  .init {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;

    .logo-sc,
    .logo-fc {
      opacity: 0;
    }

    .cryptomonial {
      margin-top: 1rem;
      img {
        width: 15% !important;
        @include small {
          width: 30% !important;
        }
      }
    }

    .logo {
      position: absolute;
      text-align: center;
      width: 100%;
      margin: auto;
      transition: 1s;
      @keyframes fade-logo {
        from {
          opacity: 0;
          transform: scale(0);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
      img {
        width: 340px;
        @include small {
          width: 220px;
        }
      }

      .slogan {
        opacity: 0;
        color: white;
        margin-top: 1rem;
        @include small {
          font-size: 15px;
        }
      }
    }
  }
}

.definition {
  position: relative;
  display: flex;
  padding: 3rem 0;
  width: 100%;
  max-height: fit-content;
  background-image: url(https://res.cloudinary.com/sapiangroup/image/upload/v1648366478/CRYPTOMONIAL/bg_vxhefl.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // text-align: center;
  @include small {
    text-align: center;
    padding: 2rem 0 !important;
    h1 {
      text-align: center !important;
    }
  }
  img {
    opacity: 1;
    width: 100%;
    animation: float 4s ease-in-out infinite;
    @include small {
      width: 80%;
    }
    @keyframes float {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(15px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  h1 {
    font-size: 4rem;
    text-align: left;
  }

  p {
    font-weight: 200;
    font-size: 1.4rem !important;
  }

  @include small {
    h1 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1rem !important;
    }
    padding: 1rem;
  }
  .ce-desc {
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  .what-is {
    margin: auto;
  }

  video {
    position: absolute;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.2) contrast(1.4) grayscale(1) blur(1px);
  }

  .read-more {
    display: inline-block;
    padding: 0.25rem 1rem;
    color: white;
    border-radius: 5px;
    background-color: rgb(103, 34, 233);
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      background-color: rgb(24, 5, 78);
      padding: 0.25rem 1rem;
      border-radius: 50px;
    }
  }
}

.solutions {
  text-align: center;
  background-image: url(https://res.cloudinary.com/sapiangroup/image/upload/v1648538554/CRYPTOMONIAL/bg_4x_kpxgb7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  animation: bg 60s ease-in-out infinite;
  @include small{
    animation: none;
    background-size: cover;
  }
  @keyframes bg {
    0%{
      background-size: 100%;
    }

    50%{
      background-size: 120%;
    }
    100%{
      background-size: 100%;
    }
  }
  .sol-pannel {
    padding: 2rem;
  }

  h1 {
    font-weight: 400 !important;
    color: #fff;
    text-transform: uppercase;
  }
  .solution {
    padding: 4rem 5rem;
    display: block;
    transition: 0.3s !important;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
      background-color: rgba($color: #965ffc, $alpha: 0.3);
    }
  }

  .cs {
    background-image: url(https://res.cloudinary.com/sapiangroup/image/upload/v1648538457/CRYPTOMONIAL/cryptostations/flash-cryptostaion_ivnsoe.svg);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
  }
  .sc {
    background-image: url(https://res.cloudinary.com/sapiangroup/image/upload/f_auto/v1646826005/CRYPTOMONIAL/Sapian_group_logo_so1hkw.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .oztg {
    background-image: url(https://res.cloudinary.com/sapiangroup/image/upload/f_auto/v1601820525/OZEETY_IMAGES/assets/img/oztcard_flashgroup-cryptostations.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.sections-parent {
  background-image: url(https://res.cloudinary.com/sapiangroup/image/upload/v1648366478/CRYPTOMONIAL/bg_vxhefl.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .for-merchents-h {
    margin-top: 8rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .for-merchents {
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;

    .slider-parent {
      position: relative;
    }

    .next {
      position: absolute;
      right: -3rem;
      top: -1rem;
      @include small {
        right: 1rem;
        top: -4rem;
      }
      z-index: 999;
      button {
        transition: .3s;
        &:hover{
          opacity: .5;
          transform: scale(1.1);
        }
        svg {
          width: 32px;
          height: 32px;
        }
        margin-top: 1rem;
        @include small {
          margin-top: 5rem;
        }
        border: none;
        background-color: rgba(23, 10, 34, 0.1);
        box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.2);
        color: #fff;
        // border-radius: 50px !important;
        // padding: 1rem;
        width: 32px;
        height: 32px;
        border-radius: 50px !important;
      }
    }

    .slides {
      position: relative;
      padding: 5rem;
      // background-color: white;
      width: 720px;
      @include small {
        width: 320px;
      }
      height: 420px;
      .slide {
        text-align: center;
        border-radius: 8px;
        position: absolute;
        width: 100%;
        height: 100%;
        @include small {
          height: 470px;
        }
        top: 0;
        left: 0;
        background-color: rgba($color: #5b02ff, $alpha: 1);
        background-image: url(https://res.cloudinary.com/sapiangroup/image/upload/v1648366478/CRYPTOMONIAL/bg_vxhefl.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        padding: 2rem;
        transition: 1s ease-in-out;
        transform: scale(1);
      }

      .slide-left {
        left: 100% !important;
        opacity: 0 !important;
        filter: blur(5px);
      }

      .merc-img {
        img {
          width: 132px;
          height: 132px;
          object-fit: cover;
          margin-bottom: 1rem;
        }
      }

      .merc-header {
        h2 {
          font-weight: 400;
        }
      }
    }
  }
}

.sections {
  margin-top: 5rem;

  h4 {
    color: #fff;
    font-weight: 500;
  }

  .section {
    margin: 1rem 0;
  }

  .for-users {
    width: 100%;
    margin-top: 5rem;
  }

  .sapian-capital {
    .sc-logo {
      img {
        width: 30%;
      }
    }
  }

  .cryptostations {
    padding-top: 2rem;
    overflow: hidden;
    @include small {
      text-align: center;
    }

    .blockchains {
      text-align: center;

      @include small {
        text-align: center !important;
      }

      svg {
        width: 80%;
        @include small {
          width: 90%;
        }
        filter: grayscale(0.4);
        #b1 {
          animation: scew 6s ease-in-out infinite;
        }
        #b2 {
          animation: scew 6s ease-in-out 2s infinite;
        }
        #b3 {
          animation: scew 6s ease-in-out 2.5s infinite;
        }
        #b4 {
          animation: scew 6s ease-in-out 5s infinite;
        }
        #b5 {
          animation: scew 6s ease-in-out 7.5s infinite;
        }
        #b6 {
          animation: scew 6s ease-in-out 9s infinite;
        }
        #b8 {
          animation: scew 6s ease-in-out 12s infinite;
        }
        #b7 {
          animation: scew 6s ease-in-out infinite;
        }
        #b14 {
          animation: scew 6s ease-in-out infinite;
        }
        #b12 {
          animation: scew 6s ease-in-out infinite;
        }
        #b14 {
          animation: scew 6s ease-in-out infinite;
        }

        @keyframes scew {
          0% {
            opacity: 0;
            transform: translateY(0);
            filter: grayscale(0.4);
          }
          50% {
            opacity: 1;
            transform: translateY(10px);
            filter: grayscale(0);
          }
          100% {
            opacity: 0;
            transform: translateY(0);
            filter: grayscale(0.4);
          }
        }
      }
    }

    .the-cryptostation {
      color: #965ffc;
    }

    .by-flash {
      image-rendering: -moz-crisp-edges; /* Firefox */
      image-rendering: -o-crisp-edges; /* Opera */
      image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
      width: 155px;
      margin: 0 0.2rem;
      transform: translateY(-3.5px);

      @include small {
        margin: 1rem 0;
        transform: translate(0);
      }
    }

    .cs-slogans {
      position: relative;
      text-align: center;

      .cs-slogan {
        top: 0;
        left: 25%;
        right: 25%;
        position: absolute;
        opacity: 0;
        transition: 1s;
        @include small {
          font-size: 14px;
        }
      }
    }

    .easy-access {
      margin-top: 5rem;
      .strong {
        font-size: 24px;
        color: #965ffc;
      }
    }

    .cryptostation-images {
      padding: 2rem;
      display: flex;
      text-align: center;
      justify-content: center;
      background-color: #d9d9d9;
      border-radius: 1rem;
      box-shadow: 5px 15px 35px rgba($color: #1e0c3f, $alpha: 1);

      img {
        width: 100%;
        max-height: 440px;
        image-rendering: -moz-crisp-edges; /* Firefox */
        image-rendering: -o-crisp-edges; /* Opera */
        image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
        @include small {
          max-height: 130px;
        }
        object-fit: contain;
        opacity: 1;
        transition: 0.3s;

        &:nth-child(2) {
          opacity: 1 !important;
          width: 50% !important;
        }
      }
    }

    .oztcard {
      text-align: justify;
      margin-top: 8rem;
      .strong {
        font-size: 24px;
        color: #f1b100;
      }

      h4 {
        text-align: right;
        @include small {
          text-align: center;
        }
      }

      a {
        display: inline-block;
        text-decoration: none;
        padding: 0.25rem 1rem;
        border-radius: 50px;
        background-color: #f1b100;
        color: black;
        transition: 0.3s;
        &:hover {
          background-color: #c79200;
          color: white;
          padding: 0.25rem 1.5rem;
        }
      }

      .oztcard-images {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 25vh;
        .oztcard-image {
          position: absolute;
          img {
            width: 340px;
            @include small {
              width: 220px;
            }
            transition: 0.3s;
            &:hover {
              transform: scale(1.1);
            }
          }

          &:nth-child(1) {
            z-index: 999;
            transform: scale(1.1);
          }
          &:nth-child(2) {
            z-index: 998;
            transform: translateX(-80px) translateY(50px);
            @include small {
              transform: translateX(-50px) translateY(20px);
            }
          }
          &:nth-child(3) {
            z-index: 997;
            transform: translateX(80px) translateY(-50px);
            @include small {
              transform: translateX(50px) translateY(-20px);
            }
          }
        }
      }
    }

    .remittance {
      margin-top: 5rem;
      text-align: justify;
      .strong {
        font-size: 24px;
        color: #965ffc;
      }

      h4 {
        @include small {
          text-align: center;
        }
      }

      img {
        width: 100%;
        @include small {
          margin: 1rem;
          width: 220px;
        }
      }

      .oztg-coin {
        width: 24px;
      }

      .asset-pegged-coin {
        color: #f1b100;
        margin-top: 0.8rem;
        @include small {
          margin-top: 0.1rem;
          margin-bottom: 1rem;
        }
      }

      .particles-parent {
        position: relative;
        //   width: 100%;
        //   height: 100%;
        .particles {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .particle {
            position: absolute;
            width: 10px !important;
            height: 10px !important;
            background-color: #f1b100;
          }
        }
      }

      a {
        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 0.25rem 1rem;
        border-radius: 50rem;
        background-color: #f1b100;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          color: white;
          background-color: #c79200;
          padding: 0.25rem 1.5rem;
        }
      }
    }
  }
}

.footer {
  padding-top: 5rem;
  @include small {
    padding: 0;
  }
  position: relative;
  z-index: 999;
  background-color: #00020f;
  width: 100%;
  color: white;
  a {
    text-decoration: none;
    color: #53fffc;
  }
  .logo {
    img {
      width: 260px;
    }
  }

  .socials {
    img {
      width: 24px;
      height: 24px;
    }
  }

  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }
}

.cookies-parent {
  position: fixed;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  @include small {
    justify-content: center;
  }
  .cookies {
    padding: 2rem;
    max-width: 360px;
    background-color: #fff;
    color: black;
    font-size: 14px;
    border-radius: 4px;
    transition: 0.5s;
    transform: scaleY(0);
    transform-origin: bottom;
    animation: 0.3s cookies 5s forwards;

    @keyframes cookies {
      from {
        transform: scaleY(0);
      }
      to {
        transform: scaleY(1);
      }
    }
    button {
      margin-top: 1rem;
      background-color: #965ffc;
      border: none;
      border-radius: 4px;
      color: white;
      padding: 0.25rem 1.5rem;
      text-transform: uppercase;
    }
  }
}
